<h1>Welcome to Ball Talk!</h1>

<body>
<%= link_to "Login", log_in_path %> |
<%= link_to "New User", sign_up_path %>

 <ul class="media-grid">
  <li>
    <a href="#">
      <img class="thumbnail" src="http://media.npr.org/assets/img/2013/03/06/baseball-06-83c3df402fda1030b87ed47b378fbc05f77ed3ec-s6-c30.jpg" alt="">
    </a>
  </li>
</ul>



</body>
