<h1>Search for your favorite Baseball Player</h1>

<%= form_for @socialplayers do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :placeholder => 'Enter a ball players name' %>
  <%= f.submit %>
  <% end %>
