<h1>Social Players</h1>
<%= form_tag("/socialplayers/results", method: "get") do %>
  <%= label_tag(:q, "Search for your favorite Baseball Player:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

 <ul class="media-grid">
  <li>
    <a href="#">
      <img class="thumbnail" src="http://i138.photobucket.com/albums/q266/wellsn115/20050522pp_lotsa_baseballs_450.jpg" alt="">
    </a>
  </li>
</ul>







