<nav>
  <%= link_to("Home", root_path) %> |
  <%= link_to("Social Player Search", socialplayer_search_path) %> |
  <%= link_to("Social Players", socialplayer_index_path) %> |

</nav>

<! <!-- #"not wrking yet" button_to "Favorite", add_favorite_path %>

