<nav>
  <%= link_to("Home", root_path) %> |
  <%= link_to("Social Player Search", socialplayer_search_path) %> |
  <%= link_to("Social Players", socialplayer_show_path) %> |
  <%= link_to("My Favorties", socialplayer_show_path) %>  <!-- not wrking yet-->
</nav>

<! <!-- #"not wrking yet" button_to "Favorite", add_favorite_path %>

